.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container {
   width: 600px;
    margin: auto;
}

.commentButton {
    margin-left: 75px !important;
}

/* When hovering over the liked button it doesnt change to a darker color */
.ui.blue.button:hover, .ui.blue.buttons .button:hover {
    background-color: #2185d0;
}